<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="dc.artists">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="dc.artists.ArtistsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name="dc.artists.ui.activities.ArtistsListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="dc.artists.ui.activities.ArtistPagerActivity"
            android:parentActivityName="dc.artists.ui.activities.ArtistsListActivity">
        </activity>

    </application>

</manifest>